<form action="/add" method="POST">
    <p>jogador: </p>
    <input type="text" name="nome">
    <p>Time: </p>
    <select name="sltTime">Selecione um time</select>
    <p>Posição: </p>
    <select name="sltPosicao">Selecione um time</select>
    <button type="submit">Cadastrar jogador</button>
</form>