<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lisatgem de Jogadores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="fundo">
    <nav class="navbar fixed-top navbar-light" id="nav">
        <div class="container-fluid">
          <div id="logo-div">
            <img id="logo" src="imagens/logo.png" class="pics"> 
          </div>
        </div>
    </nav>
    <div class="container-list">
        <div class="wel-main">
            <h1 class="h1">Listagem de todos os Jogadores:</h1>
        </div>
        <table class="table" id="tabela">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Jogador</th>
                <th scope="col">Time</th>
                <th scope="col">Posição</th>
            </tr>
            </thead>
            <tbody>
            <% jogadores.forEach(function(jogadores){ %>
                <tr>
                    <th scope="row"><%= jogadores.idJogadores%></th>
                    <td><%= jogadores.nome %></td>
                    <td><%= jogadores.times %></td>
                    <td><%= jogadores.posicao %></td>
                </tr>
            <%}) %>
            </tbody>    
        </table>
    </div>     
</body>
</html>